<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths Minefield</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <br><br><br>
    <div class='centredText'>
        Sorry, your device screen or browser window is too narrow for the Mathematical Minefield.
    </div>
    <script src = '../javascripts/narrow.js'></script>
</body>
</html>
