<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/start.css">
</head>
<body>

    <div class='titleDiv'>
        <h1 class='centredText'>
            Welcome to the Mathematical Minefield!
        </h1>
        <div id='attributionFragment'>
            by Three Cubed, 2022.
        </div>
    </div>

    <div class='btnsDiv flex'>
        <button type='button' id='instructionsBtn' class='startPageBtn' onclick='goTo("/instructions")'>How to play!</button>
        <button type='button' id='playBtn' class='startPageBtn' onclick='goTo("/play")'>Play Now!</button>
    </div>

    <script src = '../dist/javascripts/window.js'></script>

</body>
</html>
